body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}

.main-container{
    max-width: 70%;
    text-align: center;;
}

.main-container img{
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    /* min-height: 14rem; */
    margin-bottom: 15px;
}

.trailer-container{
    display: none;
}

p{
    font-family: 'Lalezar', cursive;
}

a{
    font-family: 'Lalezar', cursive;
}

.btn{
    padding: 15px 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: green;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin-top: .8rem;
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.btn:hover{
    background-color: rgb(0, 255, 0, 0.8);
}

.trailer-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
}

.trailer-container iframe,
.trailer-container video {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 900px) {
    .main-container{
        max-width: 80%;
        font-size: 1.2rem;
    }
    .main-container img{
        width: 100%;
    }
    
}
